@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clerk user button avatar box */
.dashboard-navbar .cl-avatarBox {
  width: 2.75rem;
  height: 2.75rem;
}

.mobile-menu-user-button .cl-avatarBox {
  width: 100%;
  height: 100%;
}

.btn-primary {
  @apply text-sm/6 font-medium text-white rounded-full bg-primaryBtn hover:bg-primaryBtn-hover transition duration-300 ease-in-out;
}

.btn-secondary {
  @apply text-sm/6 font-medium text-zinc-900
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}